body{
	background: #F7FAFC;
	overflow: hidden;
}

.wrap{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -150px;
}

header{
	width: 300px;
	margin: 0 auto;
	text-align: center;
}

header h1{
	padding-top: 60px;
	font-size: 74px;
	font-weight: 300;
	color: #0f88eb;
}

header p{
	padding: 30px 0 25px;
	font-size: 18px;
	color: #555;
}

section{
	width: 300px;
	margin: 0 auto;
}

section ul{
	padding-left: 95px;
	margin-bottom: 19px;
	overflow: hidden;
}

section ul li{
	float: left;
	width: 44px;
	margin-right: 28px;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	color: #0f88eb;
	cursor: pointer;
}

.active-header{
	border-bottom: 2px solid #0f88eb;
}

section div.inputs{
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	margin-bottom: 18px;
}

section div.inputs input +input{
	border-top: 1px solid #e8e8e8;
}

section input{
	width: 287px;
	height: 48px;
	padding-left: 11px;
}

section input::-webkit-input-placeholder{
	margin-left: 11px;
	font-size: 14px;
	color: #e4e4e4;
}


button{
	width: 300px;
	height: 43px;
	line-height: 43px;
	border-radius: 3px;
	text-align: center;
	background-color: #0f88eb;
	color: white;
	font-size: 15px;
	cursor: pointer;
}

button:hover{
	background-color: #55abed;
}














