<!DOCTYPE html>
<html>
<head>
	<title>话题</title>

	<link rel="stylesheet" type="text/css" href="${base}/css/base.css">
	<link rel="stylesheet" type="text/css" href="${base}/css/nav.css">
    <link rel="stylesheet" type="text/css" href="${base}/css/mask.css">
	<link rel="stylesheet" type="text/css" href="${base}/css/topic.css">
</head>
<body>
	<#include "nav.html"/>
	<div class="main">
		<div class="content">
			<div class="following-topic">
				<div class="header">
					<h2><i></i>&nbsp;&nbsp;已关注的话题动态</h2>
					<a href="#">共关注501个话题</a>
				</div>
				<ul class="topic-list">
					<li><a href="#">Web开发</a></li>
					<li><a href="#">程序员</a></li>
					<li><a href="#">操作系统</a></li>
					<li><a href="#">数据结构</a></li>
					<li><a href="#">Java</a></li>
					<li><a href="#">Web开发</a></li>
					<li><a href="#">程序员</a></li>
					<li><a href="#">操作系统</a></li>
					<li><a href="#">数据结构</a></li>
					<li><a href="#">Java</a></li>
					<li><a href="#">Web开发</a></li>
					<li><a href="#">程序员</a></li>
					<li><a href="#">操作系统</a></li>
					<li><a href="#">数据结构</a></li>
					<li><a href="#">Java</a></li>
					<li><a href="#">Web开发</a></li>
					<li><a href="#">程序员</a></li>
					<li><a href="#">操作系统</a></li>
					<li><a href="#">数据结构</a></li>
					<li><a href="#">Java</a></li>
					<li><a href="#">Web开发</a></li>
					<li><a href="#">程序员</a></li>
					<li><a href="#">操作系统</a></li>
					<li><a href="#">数据结构</a></li>
					<li><a href="#">Java</a></li>
					<li><a href="#">Web开发</a></li>
					<li><a href="#">程序员</a></li>
					<li><a href="#">操作系统</a></li>
					<li><a href="#">数据结构</a></li>
					<li><a href="#">Java</a></li>
					<li><a href="#">Web开发</a></li>
					<li><a href="#">程序员</a></li>
					<li><a href="#">操作系统</a></li>
					<li><a href="#">数据结构</a></li>
					<li><a href="#">Java</a></li>
					<li><a href="#">Web开发</a></li>
					<li><a href="#">程序员</a></li>
					<li><a href="#">操作系统</a></li>
					<li><a href="#">数据结构</a></li>
					<li><a href="#">Java</a></li>
					<li><a href="#">Web开发</a></li>
					<li><a href="#">程序员</a></li>
					<li><a href="#">操作系统</a></li>
					<li><a href="#">数据结构</a></li>
					<li><a href="#">Java</a></li>
				</ul>
			</div>

			<div class="recommend">
				<div class="header">
					<h3><i>蛤</i><span>蛤乎</span></h3>
					<h4><a href="#" class="color259">热门排序</a><span> | </span><a href="#">时间排序</a></h4>
				</div>
				<div class="feed-list">
					<div class="feed-item">
						<div class="feed-body">
							<h2 class="feed-title">
								<a href="#">为什么业内不流行基于移动端的Web APP去使用H5整站 canvas技术？</a>
							</h2>
							<div class="feed-user-info">
								<a href="#">与三更</a>
								<span class="comma">，</span>
								<span>你是春天里的花朵，长在</span>
							</div>
							<div class="feed-content">
								人家发明 html 和 css 本来就是为了让你尽量不要自绘，因为这事儿开发成本太高，为了解决特殊需求，人家又给你提供了 canvas。 现在你要摒弃 html/css，没有特殊需求却非要在 canvas 自绘。是不是回头你觉得自绘开发效率低，又要在 canvas 里重新发明一套 h…
								<a href="#">显示全部</a>
							</div>
							<div class="feed-meta">
								<a href="#"><span class="glyphicon glyphicon-plus"></span>&nbsp;关注问题</a>
								<a href="#"><span class="glyphicon glyphicon-leaf"></span>&nbsp;2条评论</a>
								<div class="hidden-part" style="display: none;">
									<a href="#"><span class="glyphicon glyphicon-heart"></span>&nbsp;感谢</a>
									<a href="#"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;分享</a>
									<a href="#"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;收藏</a>
									<a href="#"><span>•</span>&nbsp;举报</a>
								</div>
								<a href="#">作者保留权利</a>
							</div>
						</div>
						<div class="votebar">
							<button class="vote-up" clicked="false">26
								<i></i>
							</button>
							<button class="vote-down" clicked="false">
								<i></i>
							</button>
						</div>
					</div>
					<div class="feed-item">
						<div class="feed-body">
							<h2 class="feed-title">
								<a href="#">为什么业内不流行基于移动端的Web APP去使用H5整站 canvas技术？</a>
							</h2>
							<div class="feed-user-info">
								<a href="#">与三更</a>
								<span class="comma">，</span>
								<span>你是春天里的花朵，长在</span>
							</div>
							<div class="feed-content">
								人家发明 html 和 css 本来就是为了让你尽量不要自绘，因为这事儿开发成本太高，为了解决特殊需求，人家又给你提供了 canvas。 现在你要摒弃 html/css，没有特殊需求却非要在 canvas 自绘。是不是回头你觉得自绘开发效率低，又要在 canvas 里重新发明一套 h…
								<a href="#">显示全部</a>
							</div>
							<div class="feed-meta">
								<a href="#"><span class="glyphicon glyphicon-plus"></span>&nbsp;关注问题</a>
								<a href="#"><span class="glyphicon glyphicon-leaf"></span>&nbsp;2条评论</a>
								<div class="hidden-part" style="display: none;">
									<a href="#"><span class="glyphicon glyphicon-heart"></span>&nbsp;感谢</a>
									<a href="#"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;分享</a>
									<a href="#"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;收藏</a>
									<a href="#"><span>•</span>&nbsp;举报</a>
								</div>
								<a href="#">作者保留权利</a>
							</div>
						</div>
						<div class="votebar">
							<button class="vote-up" clicked="false">26
								<i></i>
							</button>
							<button class="vote-down" clicked="false">
								<i></i>
							</button>
						</div>
					</div>
					<div class="feed-item">
						<div class="feed-body">
							<h2 class="feed-title">
								<a href="#">为什么业内不流行基于移动端的Web APP去使用H5整站 canvas技术？</a>
							</h2>
							<div class="feed-user-info">
								<a href="#">与三更</a>
								<span class="comma">，</span>
								<span>你是春天里的花朵，长在</span>
							</div>
							<div class="feed-content">
								人家发明 html 和 css 本来就是为了让你尽量不要自绘，因为这事儿开发成本太高，为了解决特殊需求，人家又给你提供了 canvas。 现在你要摒弃 html/css，没有特殊需求却非要在 canvas 自绘。是不是回头你觉得自绘开发效率低，又要在 canvas 里重新发明一套 h…
								<a href="#">显示全部</a>
							</div>
							<div class="feed-meta">
								<a href="#"><span class="glyphicon glyphicon-plus"></span>&nbsp;关注问题</a>
								<a href="#"><span class="glyphicon glyphicon-leaf"></span>&nbsp;2条评论</a>
								<div class="hidden-part" style="display: none;">
									<a href="#"><span class="glyphicon glyphicon-heart"></span>&nbsp;感谢</a>
									<a href="#"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;分享</a>
									<a href="#"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;收藏</a>
									<a href="#"><span>•</span>&nbsp;举报</a>
								</div>
								<a href="#">作者保留权利</a>
							</div>
						</div>
						<div class="votebar">
							<button class="vote-up" clicked="false">26
								<i></i>
							</button>
							<button class="vote-down" clicked="false">
								<i></i>
							</button>
						</div>
					</div>
					<div class="feed-item">
						<div class="feed-body">
							<h2 class="feed-title">
								<a href="#">为什么业内不流行基于移动端的Web APP去使用H5整站 canvas技术？</a>
							</h2>
							<div class="feed-user-info">
								<a href="#">与三更</a>
								<span class="comma">，</span>
								<span>你是春天里的花朵，长在</span>
							</div>
							<div class="feed-content">
								人家发明 html 和 css 本来就是为了让你尽量不要自绘，因为这事儿开发成本太高，为了解决特殊需求，人家又给你提供了 canvas。 现在你要摒弃 html/css，没有特殊需求却非要在 canvas 自绘。是不是回头你觉得自绘开发效率低，又要在 canvas 里重新发明一套 h…
								<a href="#">显示全部</a>
							</div>
							<div class="feed-meta">
								<a href="#"><span class="glyphicon glyphicon-plus"></span>&nbsp;关注问题</a>
								<a href="#"><span class="glyphicon glyphicon-leaf"></span>&nbsp;2条评论</a>
								<div class="hidden-part" style="display: none;">
									<a href="#"><span class="glyphicon glyphicon-heart"></span>&nbsp;感谢</a>
									<a href="#"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;分享</a>
									<a href="#"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;收藏</a>
									<a href="#"><span>•</span>&nbsp;举报</a>
								</div>
								<a href="#">作者保留权利</a>
							</div>
						</div>
						<div class="votebar">
							<button class="vote-up" clicked="false">26
								<i></i>
							</button>
							<button class="vote-down" clicked="false">
								<i></i>
							</button>
						</div>
					</div>
					<div class="feed-item">
						<div class="feed-body">
							<h2 class="feed-title">
								<a href="#">为什么业内不流行基于移动端的Web APP去使用H5整站 canvas技术？</a>
							</h2>
							<div class="feed-user-info">
								<a href="#">与三更</a>
								<span class="comma">，</span>
								<span>你是春天里的花朵，长在</span>
							</div>
							<div class="feed-content">
								人家发明 html 和 css 本来就是为了让你尽量不要自绘，因为这事儿开发成本太高，为了解决特殊需求，人家又给你提供了 canvas。 现在你要摒弃 html/css，没有特殊需求却非要在 canvas 自绘。是不是回头你觉得自绘开发效率低，又要在 canvas 里重新发明一套 h…
								<a href="#">显示全部</a>
							</div>
							<div class="feed-meta">
								<a href="#"><span class="glyphicon glyphicon-plus"></span>&nbsp;关注问题</a>
								<a href="#"><span class="glyphicon glyphicon-leaf"></span>&nbsp;2条评论</a>
								<div class="hidden-part" style="display: none;">
									<a href="#"><span class="glyphicon glyphicon-heart"></span>&nbsp;感谢</a>
									<a href="#"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;分享</a>
									<a href="#"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;收藏</a>
									<a href="#"><span>•</span>&nbsp;举报</a>
								</div>
								<a href="#">作者保留权利</a>
							</div>
						</div>
						<div class="votebar">
							<button class="vote-up" clicked="false">26
								<i></i>
							</button>
							<button class="vote-down" clicked="false">
								<i></i>
							</button>
						</div>
					</div>
					<div class="feed-item">
						<div class="feed-body">
							<h2 class="feed-title">
								<a href="#">为什么业内不流行基于移动端的Web APP去使用H5整站 canvas技术？</a>
							</h2>
							<div class="feed-user-info">
								<a href="#">与三更</a>
								<span class="comma">，</span>
								<span>你是春天里的花朵，长在</span>
							</div>
							<div class="feed-content">
								人家发明 html 和 css 本来就是为了让你尽量不要自绘，因为这事儿开发成本太高，为了解决特殊需求，人家又给你提供了 canvas。 现在你要摒弃 html/css，没有特殊需求却非要在 canvas 自绘。是不是回头你觉得自绘开发效率低，又要在 canvas 里重新发明一套 h…
								<a href="#">显示全部</a>
							</div>
							<div class="feed-meta">
								<a href="#"><span class="glyphicon glyphicon-plus"></span>&nbsp;关注问题</a>
								<a href="#"><span class="glyphicon glyphicon-leaf"></span>&nbsp;2条评论</a>
								<div class="hidden-part" style="display: none;">
									<a href="#"><span class="glyphicon glyphicon-heart"></span>&nbsp;感谢</a>
									<a href="#"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;分享</a>
									<a href="#"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;收藏</a>
									<a href="#"><span>•</span>&nbsp;举报</a>
								</div>
								<a href="#">作者保留权利</a>
							</div>
						</div>
						<div class="votebar">
							<button class="vote-up" clicked="false">26
								<i></i>
							</button>
							<button class="vote-down" clicked="false">
								<i></i>
							</button>
						</div>
					</div>
					<div class="feed-item">
						<div class="feed-body">
							<h2 class="feed-title">
								<a href="#">为什么业内不流行基于移动端的Web APP去使用H5整站 canvas技术？</a>
							</h2>
							<div class="feed-user-info">
								<a href="#">与三更</a>
								<span class="comma">，</span>
								<span>你是春天里的花朵，长在</span>
							</div>
							<div class="feed-content">
								人家发明 html 和 css 本来就是为了让你尽量不要自绘，因为这事儿开发成本太高，为了解决特殊需求，人家又给你提供了 canvas。 现在你要摒弃 html/css，没有特殊需求却非要在 canvas 自绘。是不是回头你觉得自绘开发效率低，又要在 canvas 里重新发明一套 h…
								<a href="#">显示全部</a>
							</div>
							<div class="feed-meta">
								<a href="#"><span class="glyphicon glyphicon-plus"></span>&nbsp;关注问题</a>
								<a href="#"><span class="glyphicon glyphicon-leaf"></span>&nbsp;2条评论</a>
								<div class="hidden-part" style="display: none;">
									<a href="#"><span class="glyphicon glyphicon-heart"></span>&nbsp;感谢</a>
									<a href="#"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;分享</a>
									<a href="#"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;收藏</a>
									<a href="#"><span>•</span>&nbsp;举报</a>
								</div>
								<a href="#">作者保留权利</a>
							</div>
						</div>
						<div class="votebar">
							<button class="vote-up" clicked="false">26
								<i></i>
							</button>
							<button class="vote-down" clicked="false">
								<i></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="more-answer">
				<a href="#">更多</a>
			</div>
		</div>
		<div class="sidebar">
			<div class="topic-plaza">
				<a href="${base}/topics">进入话题广场</a>
				<a href="${base}/topics">来这里发现更多有趣话题</a>
			</div>
			<div class="other-topic">
				<h3>其他人关注的话题</h3>
				<ul>
					<li>
						<div class="topic-image">
							<img src="image/topic1.png">
						</div>
						<a href="#" class="topic-name">2015年盘点</a>
						<a href="#" class="follow-button"><i></i>关注</a>
					</li>
					<li>
						<div class="topic-image">
							<img src="image/topic1.png">
						</div>
						<a href="#" class="topic-name">2015年盘点</a>
						<a href="#" class="follow-button"><i></i>关注</a>
					</li>
					<li>
						<div class="topic-image">
							<img src="image/topic1.png">
						</div>
						<a href="#" class="topic-name">2015年盘点</a>
						<a href="#" class="follow-button"><i></i>关注</a>
					</li>
					<li>
						<div class="topic-image">
							<img src="image/topic1.png">
						</div>
						<a href="#" class="topic-name">2015年盘点</a>
						<a href="#" class="follow-button"><i></i>关注</a>
					</li>
					<li>
						<div class="topic-image">
							<img src="image/topic1.png">
						</div>
						<a href="#" class="topic-name">2015年盘点</a>
						<a href="#" class="follow-button"><i></i>关注</a>
					</li>
					<li>
						<div class="topic-image">
							<img src="image/topic1.png">
						</div>
						<a href="#" class="topic-name">2015年盘点</a>
						<a href="#" class="follow-button"><i></i>关注</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer">
		<span>@ 2017 蛤乎</span>
		<span class="footer-right">
			<a href="#">建议反馈</a>
			<span> • </span>
			<a href="#">举报投诉</a>
			<span> • </span>
			<a href="#">联系我们</a>
			<span> • </span>
			<a href="#">加入我们</a>
		</span>
	</div>

	<#include "mask.html"/>

<script type="text/javascript" src="${base}/js/nav.js"></script>
<script type="text/javascript" src="${base}/js/mask.js"></script>
<script type="text/javascript" src="${base}/js/topic.js"></script>


</body>
</html>

















